.quiz-drafts {
}

.quiz-drafts__title {
	text-align: left;
	margin-right: 20px;
}

.quiz-drafts__delete {
	box-sizing: border-box;
	width:90px;
	background-color: #ff4d4d; /*red warning*/
	color:white;
	text-align: center;
	height: 25px;
	line-height: 25px;
}