.choice-popover-trigger__button {
 	width:40px;
 	height: 40px;
	color:grey;
	border-bottom: 1px solid white;
	text-align: center;
	line-height: 40px;
	font-size: 2em;
}

.choice-popover-trigger__button:hover {
	color:#3CB371;
	transition: 0.1s ease;
}