.quiz-maker {
	margin: 0 auto;
}



.quiz-maker__title{
	box-sizing: border-box;
  	margin-bottom: 20px;
  	padding: 10px;
	background: #FFFFFF;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 3px;
}

.quiz-maker__problem {
	box-sizing: border-box;
  	margin-bottom: 20px;
  	padding: 10px;
	background: #FFFFFF;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 3px;
}

.quiz-maker__button.submit {
	margin: 0 auto;
	display: block;
	height: 60px;
	font-weight: 1000;
	font-size: 1.5em;
	text-align: center;
	color: white;
	background-color: #00aced; /*twitter*/
	line-height: 60px;
}

