.choice {
}

.choice__answer {
	display: inline-block;
	height: 40px;

}

.choice__popover {
	display: inline-block;
	width: 40px;
}

.choice__choice-popover-trigger {
	font-size: 2.5em;
	height: 40px;
	line-height: 40px;
}

.choice__choice-popover-trigger:hover {
	font-size: 4em;
	transition: 0.1s ease;
}