.quiz-nav-item{
	box-sizing: border-box;
	width:33.3%;
	display: inline-block;
	height:40px;
}

.quiz-nav-item:last-child > .quiz-nav-button {
    border: none ;
}

.quiz-nav-button {
	margin: 0 auto;
	display: block;
	height: 40px;
	font-weight: 1000;
	font-size: 1em;
	text-align: center;
	color: white;
	background-color: #00aced; /*twitter*/
	line-height: 40px;
	border-right: 1px solid white;
}

.quiz-nav-button a, .quiz-nav-button a:visited {
	color:white;
	text-decoration: none;
}

.quiz-nav-button a:hover, .quiz-nav-button a:active{
	color:#616A6B;
	text-decoration: none;
	font-weight: 700;
}	