.nav-item{
	width:33.333333%;
	display: inline-block;
	height:100%;
}

.nav-item:last-child > .nav-button {
    border: none ;
}

.nav-button {
	box-sizing: border-box;
	background-color:white;
	border-right: 1px solid #ECF0F1;
	text-align: center;
	line-height: 40px;
	padding: 5px;
	transition: 0.2s ease;
}

.nav-button:hover {
	background-color:#ddd;
}

.nav-button a, .nav-buttona a:visited {
	color:#00aced;
	text-decoration: none;
}

.nav-button a:hover, .nav-buttona a:active{
	color:#00aced;
	text-decoration: none;
	font-weight: 700;
}	