.nav-item{
	display: inline-block;
	height: 50px;
	width: 70px;
}
.nav-item:last-child {
  float: right;
}
.nav-button {
	box-sizing: border-box;
	text-align: center;
	line-height: 50px;
	margin: 5px;
	transition: 0.2s ease;
	font-size: 14px;
	font-weight: 600;
}

.nav-button:hover {
  background-color:#23ba5b;
  border-radius: 2px;
}

