.nav-item{
	display: inline-block;
	height: 100%;
	width: 70px;
}
.nav-item:last-child {
  float: right;
}
.nav-button {
	box-sizing: border-box;
	text-align: center;
	line-height: 40px;
	margin: 5px;
	transition: 0.2s ease;
	font-size: 12px;
	font-weight: 600;
}

.nav-button:hover {
  border-bottom: 0.2px solid #ddd;
  transition: .5 ease;
}

