.home {
  background-color: #1ea04e;
  color: #fff;
}

.home__title {
  font-size: 45px;
  font-weight: 1000;
  text-align: center;
  margin: 100px 0px 10px 0px;

}

.home__description {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
  font-size: 20px;
}
.home__message {
  padding: 5px 60px 100px 60px;
}

.home__message--mobile {
  padding: 5px 10px 20px 10px;
}

.home__p {
  line-height: 30px;
}

.home__intro {
  padding:  100px 50px 70px 50px;
  display: table;
  background-color: #000000;
}

.home__intro__image {
  box-sizing: border-box;
  display: table-cell;
  width: 35%;
}

.home__intro__image img {
  width: 100%;
}

.home__intro__text {
  box-sizing: border-box;
  display: table-cell;
  width: 65%;
  height: 100%;
  font-size: 35px;
  vertical-align: middle;
  font-weight: 700;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.home__intro__logo {
  width: 100%;
}

.home__inspiration {
  box-sizing: border-box;
  padding: 50px;
  background-color: #BB5143;
}

.home__inspiration img {
  display: block;
  margin: 0 auto;
  width: 100%;
}