.header {
 box-sizing: border-box;
 background-color: #1ea04e;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 z-index: 20;
 color: #fff;
}

.header--scrolled {
  border-bottom: 1px solid #ddd;
  background-color: #1ea04e;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
  color: #fff;
}

.header__logo {
  float: left;
  width: 40px;
  padding: 5px;
}


.header a , .header a:visited {
	color:#fff;
	text-decoration: none;
}

.header a:hover, .header a:active {
	color:#fff;
	text-decoration: none;
}	

.header--scrolled a , .header--scrolled a:visited {
  color: #fff;

}

.header--scrolled a:hover, .header--scrolled a:active {
  color: #fff;
}