.problem-form {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


.problem-form__question {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
	height: 40px; 
}

.problem-form__choices {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 10px;
}
